@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

/* Estilo para o rastreamento da barra de rolagem */
::-webkit-scrollbar-track {
  background: #b0b0b0;
}

/* Estilo para o botão da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 5px;
}

/* Estilo para o botão quando hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

/* Oculta a barra de rolagem quando não estiver em hover */
::-webkit-scrollbar-thumb {
  opacity: 0;
  /* Torna a barra de rolagem transparente */
}

/* Estilo para a barra de rolagem quando hover */
::-webkit-scrollbar:hover {
  opacity: 1;
  /* Torna a barra de rolagem visível quando hover */
}